<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>events01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{565,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,1080}}</string>
                <key>sourceSize</key>
                <string>{565,1080}</string>
            </dict>
            <key>events01_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,0},{565,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,1080}}</string>
                <key>sourceSize</key>
                <string>{565,1080}</string>
            </dict>
            <key>events01_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,0},{565,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,1080}}</string>
                <key>sourceSize</key>
                <string>{565,1080}</string>
            </dict>
            <key>events01_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1695,0},{565,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,1080}}</string>
                <key>sourceSize</key>
                <string>{565,1080}</string>
            </dict>
            <key>events01_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2260,0},{565,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,1080}}</string>
                <key>sourceSize</key>
                <string>{565,1080}</string>
            </dict>
            <key>events01_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2825,0},{565,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,1080}}</string>
                <key>sourceSize</key>
                <string>{565,1080}</string>
            </dict>
            <key>events01_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{3390,0},{565,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,1080}}</string>
                <key>sourceSize</key>
                <string>{565,1080}</string>
            </dict>
            <key>events01_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{3955,0},{565,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,1080}}</string>
                <key>sourceSize</key>
                <string>{565,1080}</string>
            </dict>
            <key>events01_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{4520,0},{565,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,1080}}</string>
                <key>sourceSize</key>
                <string>{565,1080}</string>
            </dict>
            <key>events01_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{5085,0},{565,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,1080}}</string>
                <key>sourceSize</key>
                <string>{565,1080}</string>
            </dict>
            <key>events01_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1080},{565,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,1080}}</string>
                <key>sourceSize</key>
                <string>{565,1080}</string>
            </dict>
            <key>events01_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,1080},{565,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,1080}}</string>
                <key>sourceSize</key>
                <string>{565,1080}</string>
            </dict>
            <key>events01_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,1080},{565,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,1080}}</string>
                <key>sourceSize</key>
                <string>{565,1080}</string>
            </dict>
            <key>events01_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1695,1080},{565,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,1080}}</string>
                <key>sourceSize</key>
                <string>{565,1080}</string>
            </dict>
            <key>events01_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2260,1080},{565,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,1080}}</string>
                <key>sourceSize</key>
                <string>{565,1080}</string>
            </dict>
            <key>events01_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2825,1080},{565,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,1080}}</string>
                <key>sourceSize</key>
                <string>{565,1080}</string>
            </dict>
            <key>events01_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{3390,1080},{565,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,1080}}</string>
                <key>sourceSize</key>
                <string>{565,1080}</string>
            </dict>
            <key>events01_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{3955,1080},{565,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,1080}}</string>
                <key>sourceSize</key>
                <string>{565,1080}</string>
            </dict>
            <key>events01_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{4520,1080},{565,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,1080}}</string>
                <key>sourceSize</key>
                <string>{565,1080}</string>
            </dict>
            <key>events01_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{5085,1080},{565,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,1080}}</string>
                <key>sourceSize</key>
                <string>{565,1080}</string>
            </dict>
            <key>events01_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2160},{565,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,1080}}</string>
                <key>sourceSize</key>
                <string>{565,1080}</string>
            </dict>
            <key>events01_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,2160},{565,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,1080}}</string>
                <key>sourceSize</key>
                <string>{565,1080}</string>
            </dict>
            <key>events01_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,2160},{565,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,1080}}</string>
                <key>sourceSize</key>
                <string>{565,1080}</string>
            </dict>
            <key>events01_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1695,2160},{565,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,1080}}</string>
                <key>sourceSize</key>
                <string>{565,1080}</string>
            </dict>
            <key>events01_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2260,2160},{565,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,1080}}</string>
                <key>sourceSize</key>
                <string>{565,1080}</string>
            </dict>
            <key>events01_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2825,2160},{565,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,1080}}</string>
                <key>sourceSize</key>
                <string>{565,1080}</string>
            </dict>
            <key>events01_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{3390,2160},{565,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,1080}}</string>
                <key>sourceSize</key>
                <string>{565,1080}</string>
            </dict>
            <key>events01_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{3955,2160},{565,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,1080}}</string>
                <key>sourceSize</key>
                <string>{565,1080}</string>
            </dict>
            <key>events01_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{4520,2160},{565,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,1080}}</string>
                <key>sourceSize</key>
                <string>{565,1080}</string>
            </dict>
            <key>events01_030.png</key>
            <dict>
                <key>frame</key>
                <string>{{5085,2160},{565,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,1080}}</string>
                <key>sourceSize</key>
                <string>{565,1080}</string>
            </dict>
            <key>events01_031.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3240},{565,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,1080}}</string>
                <key>sourceSize</key>
                <string>{565,1080}</string>
            </dict>
            <key>events01_032.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,3240},{565,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,1080}}</string>
                <key>sourceSize</key>
                <string>{565,1080}</string>
            </dict>
            <key>events01_033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,3240},{565,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,1080}}</string>
                <key>sourceSize</key>
                <string>{565,1080}</string>
            </dict>
            <key>events01_034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1695,3240},{565,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,1080}}</string>
                <key>sourceSize</key>
                <string>{565,1080}</string>
            </dict>
            <key>events01_035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2260,3240},{565,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,1080}}</string>
                <key>sourceSize</key>
                <string>{565,1080}</string>
            </dict>
            <key>events01_036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2825,3240},{565,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,1080}}</string>
                <key>sourceSize</key>
                <string>{565,1080}</string>
            </dict>
            <key>events01_037.png</key>
            <dict>
                <key>frame</key>
                <string>{{3390,3240},{565,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,1080}}</string>
                <key>sourceSize</key>
                <string>{565,1080}</string>
            </dict>
            <key>events01_038.png</key>
            <dict>
                <key>frame</key>
                <string>{{3955,3240},{565,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,1080}}</string>
                <key>sourceSize</key>
                <string>{565,1080}</string>
            </dict>
            <key>events01_039.png</key>
            <dict>
                <key>frame</key>
                <string>{{4520,3240},{565,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,1080}}</string>
                <key>sourceSize</key>
                <string>{565,1080}</string>
            </dict>
            <key>events01_040.png</key>
            <dict>
                <key>frame</key>
                <string>{{5085,3240},{565,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,1080}}</string>
                <key>sourceSize</key>
                <string>{565,1080}</string>
            </dict>
            <key>events01_041.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,4320},{565,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,1080}}</string>
                <key>sourceSize</key>
                <string>{565,1080}</string>
            </dict>
            <key>events01_042.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,4320},{565,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,1080}}</string>
                <key>sourceSize</key>
                <string>{565,1080}</string>
            </dict>
            <key>events01_043.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,4320},{565,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,1080}}</string>
                <key>sourceSize</key>
                <string>{565,1080}</string>
            </dict>
            <key>events01_044.png</key>
            <dict>
                <key>frame</key>
                <string>{{1695,4320},{565,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,1080}}</string>
                <key>sourceSize</key>
                <string>{565,1080}</string>
            </dict>
            <key>events01_045.png</key>
            <dict>
                <key>frame</key>
                <string>{{2260,4320},{565,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,1080}}</string>
                <key>sourceSize</key>
                <string>{565,1080}</string>
            </dict>
            <key>events01_046.png</key>
            <dict>
                <key>frame</key>
                <string>{{2825,4320},{565,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,1080}}</string>
                <key>sourceSize</key>
                <string>{565,1080}</string>
            </dict>
            <key>events01_047.png</key>
            <dict>
                <key>frame</key>
                <string>{{3390,4320},{565,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,1080}}</string>
                <key>sourceSize</key>
                <string>{565,1080}</string>
            </dict>
            <key>events01_048.png</key>
            <dict>
                <key>frame</key>
                <string>{{3955,4320},{565,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,1080}}</string>
                <key>sourceSize</key>
                <string>{565,1080}</string>
            </dict>
            <key>events01_049.png</key>
            <dict>
                <key>frame</key>
                <string>{{4520,4320},{565,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,1080}}</string>
                <key>sourceSize</key>
                <string>{565,1080}</string>
            </dict>
            <key>events01_050.png</key>
            <dict>
                <key>frame</key>
                <string>{{5085,4320},{565,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,1080}}</string>
                <key>sourceSize</key>
                <string>{565,1080}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>events01.png</string>
            <key>size</key>
            <string>{5650,5400}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e5427ebc4c55a1d4a8edbc5e8da6698$</string>
            <key>textureFileName</key>
            <string>events01.png</string>
        </dict>
    </dict>
</plist>