<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>omen02_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{565,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,1080}}</string>
                <key>sourceSize</key>
                <string>{565,1080}</string>
            </dict>
            <key>omen02_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,0},{565,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,1080}}</string>
                <key>sourceSize</key>
                <string>{565,1080}</string>
            </dict>
            <key>omen02_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,0},{565,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,1080}}</string>
                <key>sourceSize</key>
                <string>{565,1080}</string>
            </dict>
            <key>omen02_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1695,0},{565,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,1080}}</string>
                <key>sourceSize</key>
                <string>{565,1080}</string>
            </dict>
            <key>omen02_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2260,0},{565,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,1080}}</string>
                <key>sourceSize</key>
                <string>{565,1080}</string>
            </dict>
            <key>omen02_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2825,0},{565,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,1080}}</string>
                <key>sourceSize</key>
                <string>{565,1080}</string>
            </dict>
            <key>omen02_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{3390,0},{565,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,1080}}</string>
                <key>sourceSize</key>
                <string>{565,1080}</string>
            </dict>
            <key>omen02_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{3955,0},{565,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,1080}}</string>
                <key>sourceSize</key>
                <string>{565,1080}</string>
            </dict>
            <key>omen02_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{4520,0},{565,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,1080}}</string>
                <key>sourceSize</key>
                <string>{565,1080}</string>
            </dict>
            <key>omen02_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{5085,0},{565,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,1080}}</string>
                <key>sourceSize</key>
                <string>{565,1080}</string>
            </dict>
            <key>omen02_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1080},{565,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,1080}}</string>
                <key>sourceSize</key>
                <string>{565,1080}</string>
            </dict>
            <key>omen02_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,1080},{565,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,1080}}</string>
                <key>sourceSize</key>
                <string>{565,1080}</string>
            </dict>
            <key>omen02_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,1080},{565,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,1080}}</string>
                <key>sourceSize</key>
                <string>{565,1080}</string>
            </dict>
            <key>omen02_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1695,1080},{565,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,1080}}</string>
                <key>sourceSize</key>
                <string>{565,1080}</string>
            </dict>
            <key>omen02_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2260,1080},{565,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,1080}}</string>
                <key>sourceSize</key>
                <string>{565,1080}</string>
            </dict>
            <key>omen02_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2825,1080},{565,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,1080}}</string>
                <key>sourceSize</key>
                <string>{565,1080}</string>
            </dict>
            <key>omen02_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{3390,1080},{565,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,1080}}</string>
                <key>sourceSize</key>
                <string>{565,1080}</string>
            </dict>
            <key>omen02_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{3955,1080},{565,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,1080}}</string>
                <key>sourceSize</key>
                <string>{565,1080}</string>
            </dict>
            <key>omen02_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{4520,1080},{565,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,1080}}</string>
                <key>sourceSize</key>
                <string>{565,1080}</string>
            </dict>
            <key>omen02_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{5085,1080},{565,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,1080}}</string>
                <key>sourceSize</key>
                <string>{565,1080}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>omen02.png</string>
            <key>size</key>
            <string>{5650,2160}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e5427ebc4c55a1d4a8edbc5e8da6698$</string>
            <key>textureFileName</key>
            <string>omen02.png</string>
        </dict>
    </dict>
</plist>